#equilateral, #isosceles, #scalene, #notATriangle {
    display: none;
}
body {
    background-color: #DC4405;
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
    color: #000000;
    font-weight: 700 
}